body
{
	margin:0px;
	padding:0px;
   width:100%;
}
.menu
{
	width:100%;
	margin:0px;
	padding:0px;
	position:fixed;
}
.menu nav{
	width:100%;
	margin:0px;
	padding:0px;
	background-color:#161b40;
	height:50px;
}
.menu nav ul
{
	
	list-style-type:none;
	float:right;
	display:inline;
	background-color:#161b40;
	
	
}
.menu nav ul li
{
	float:left;
	padding-left:12px;
	padding-right:4px;
	color:white;
}
.menu nav ul li a
{
	color:white;
	text-decoration:none;
}
.home
{
	background-color:#43bee5;
	height:600px;
	margin:0;
	width:100%;
}
.home .content .text{
	font-size:40px;
}
.skilltop{
	padding-top:50px;
}
.home .content 
{
	text-align:center;
	padding-top:85px;
	
}
.home .content .profile i
{
  
 font-size:150px;
 margin-bottom:20px;
}
.about
{
	height:600px;
	background-color:#f40058;
}
.about 
{
	background-image:url('https://tse2.mm.bing.net/th?id=OIP.BjyNQ7u260uvF8eyyZho1gHaE8&pid=Api&P=0&w=266&h=178');
	width:100%;
	height:600px;
	width:100%;
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:10px;
	display:table;

	
}
.about .inner{
	padding-top:50px;
}
.about .inner p{
	
	margin-left:20px;
}
	

.about .inner .abouttext
{
	padding-left:10px;
	font-size:40px;
	
}
.education
{
	background-color:#efa500;
	height:600px;
}
.education .head
{
	font-size:40px;
	margin-left:10px;
	padding-top:50px;
}
.education .educationblock div{
	float:left;
	padding-left:40px;
  padding-right:40px;
  margin-bottom:10px;
  margin-top:30px;
	text-align:center;
}
.education .educationblock div i{
	font-size:80px;
}
.skills
{
	background-color:#41b853;
	height:600px;
	width:100%;
}
.hobbies
{
	background-color:#00adb5;
	height:600px;
	width:100%;
}

.hobbies .head
{
	font-size:40px;
	margin-left:10px;
	padding-top:50px;
	
}
.hobbies .hobbieblock div{
	float:left;
	padding-left:40px;
  padding-right:40px;
  margin-bottom:10px;
  margin-top:30px;
	
	
	text-align:center;
	
}
.hobbies .hobbieblock div i{
	font-size:80px;
	
}
.contact
{
	background-color:#eeeeee;
	height:600px;
	text-align:center;
	width:100%;
}
.contact .size
{
	
	font-size:40px;
	padding-top:50px;
}
.skills div{
	margin-left:20px;
	font-size:40px;
}
.skills .skillblock div
{
  float:left;
  font-size:25px;
  padding-left:40px;
  padding-right:30px;
  margin-bottom:10px;
  margin-top:30px;
}
@media only screen and (max-width:555px)
{
	.education .educationblock ,.hobbies .hobbieblock ,.skills .skillblock
	{
		display:grid;
		grid-template-rows:1fr 1fr 1fr;
	}
	

}
